{% for item in items %}
	{% if item.title == "Delete Account" %}
		<a class="anchor flex items-center justify-between bg-white shadow-sm rounded-lg px-4 hover:bg-gray-50 transition" data-modal-target="delete-account-modal" data-modal-toggle="delete-account-modal" engage-button="engage-button-modal" data-once="modal-engage">
			<div class="flex justify-between items-center gap-4 cursor-pointer">
				<div class="flex gap-3 justify-between items-center">
					<div class="border rounded-md p-1">
						<img class="object-contain cursor-pointer w-[25px]" src="{{ file_url(item.content.field_account_menu_icon['#items'].0.entity.uri.value) }}" alt="delete-account">
					</div>
					<div class="text-lg font-sans text-[#2c2627] xs:text-sm s:text-sm">
						{{ item.title }}
					</div>
				</div>
			</div>
		</a>

	{% elseif item.title == "Logout" %}
		<a class="anchor flex items-center justify-between bg-white shadow-sm rounded-lg px-4 hover:bg-gray-50 transition" data-modal-target="logout-modal" data-modal-toggle="logout-modal" engage-button="engage-button-modal" data-once="modal-engage">
			<div class="flex justify-between items-center gap-4 cursor-pointer">
				<div class="flex gap-3 justify-between items-center">
					<div class="border rounded-md p-1">
						<img class="object-contain cursor-pointer w-[25px]" src="{{ file_url(item.content.field_account_menu_icon['#items'].0.entity.uri.value) }}" alt="logout">
					</div>
					<div class="text-lg font-sans text-[#2c2627] xs:text-sm s:text-sm">
						{{ item.title }}
					</div>
				</div>
			</div>
		</a>

	{% else %}
		<a href="{{ item.url }}" class="flex items-center justify-between bg-white shadow-sm rounded-lg px-4 hover:bg-gray-50 transition">
			<div class="flex items-center space-x-3">
				{% if item.content.field_account_menu_icon['#items'].0.entity.uri.value is defined %}
					<img src="{{ file_url(item.content.field_account_menu_icon['#items'].0.entity.uri.value) }}" alt="{{ item.title }}" class="w-8 h-8 object-contain"/>
				{% endif %}
				<span class="text-lg font-sans text-[#2c2627] xs:text-sm s:text-sm">{{ item.title }}</span>
			</div>
			<svg class="w-4 h-4 text-gray-400" fill="none" stroke="currentColor" stroke-width="2" viewbox="0 0 24 24">
				<path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"/>
			</svg>
		</a>
	{% endif %}
{% endfor %}


<!-- Hidden Modal -->

<div id="delete-account-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 max-h-full bg-[#0000009c]">
	<div class="relative p-4 max-h-full">
		<div class="relative bg-white rounded-lg shadow-sm">
			<button
				type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="delete-account-modal">{# <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
													<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
												</svg>
												<span class="sr-only">Close modal</span> #}
			</button>
			<input type="hidden" id="delete-nid" value="">
			<div
				class="text-center max-w-[640px] max-w-[640px] p-10">
				{# <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 20 20">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
											</svg> #}
				<h3 class="font-bold text-3xl font-['nevis'] mb-10">Are you sure you want to delete your account?</h3>
				<button data-modal-hide="delete-account-modal" data-modal-target="delete-account-input-modal" engage-button="engage-button-modal" data-modal-toggle="delete-account-input-modal" type="button" class="engage-btn w-[135px] text-white bg-[#ffcc00] focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-block items-center px-5 py-2.5 text-center">
					Yes
				</button>
				<button data-modal-hide="delete-account-modal" type="button" class="engage-cancel-btn py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 w-[135px] focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No</button>
			</div>
		</div>
	</div>
</div>


<div id="delete-account-input-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 max-h-full bg-[#0000009c]">
	<div class="relative p-4 max-h-full">
		<div class="relative bg-white rounded-lg shadow-sm">
			<button
				type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="delete-account-input-modal">{# <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
													<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
												</svg>
												<span class="sr-only">Close modal</span> #}
			</button>
			{# <input type="hidden" id="delete-nid" value=""> #}
			<div
				class="text-center max-w-[640px] max-w-[640px] p-10">
				{# <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 20 20">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
											</svg> #}
				<h3 class="font-bold text-3xl font-['nevis'] mb-10">Enter Delete in Capital Letters to Confirm</h3>
				<div class="relative mx-2 mb-4">
					<input type="text" id="delete" required placeholder=" " class="peer block w-full appearance-none rounded-lg border border-gray-300 bg-transparent px-2.5 pb-2.5 pt-4 text-sm text-gray-900 focus:border-yellow-600 focus:outline-none focus:ring-0 dark:border-gray-600 dark:focus:border-yellow-500"/>
				</div>

				<button type="button" class="engage-btn confirm-account-btn text-white bg-[#ffcc00] focus:ring-4 w-[135px] focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-block items-center px-5 py-2.5 text-center">
					Ok
				</button>
				<button data-modal-hide="delete-account-input-modal" type="button" class="engage-cancel-btn py-2.5 w-[135px] px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Cancel</button>
			</div>
		</div>
	</div>
</div>

{# Modal for Logout Modal #}

<!-- Hidden Modal -->

<div id="logout-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden flex fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 max-h-full bg-[#0000009c]">
	<div class="relative p-4 max-h-full">
		<div class="relative bg-white rounded-lg shadow-sm">
			<button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="logout-modal">{# <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
											</svg> #}
				{# <span class="sr-only">Close modal</span> #}
			</button>
			<input type="hidden" id="delete-nid" value="">
			<div
				class="text-center max-w-[640px] max-w-[640px] p-10">
				{# <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 20 20">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
											</svg> #}
				<h3 class="font-bold text-3xl font-['nevis'] mb-10">Are you sure you want to Log out ?</h3>
				<button data-modal-hide="logout-modal" type="button" class="engage-btn confirm-logout-btn w-[135px] text-white bg-[#ffcc00] focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-block items-center px-5 py-2.5 text-center">
					Yes
				</button>
				<button data-modal-hide="logout-modal" type="button" class="engage-cancel-btn w-[135px] py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No</button>
			</div>
		</div>
	</div>
</div>
