{# {{ dump(form) }} #}
{# <div class="max-w-md mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg"> #}
	<div class="min-h-screen bg-cover bg-center flex items-center justify-center" style="background-image: url('/modules/custom/custom_profile/images/registeration-bg.png');"> <div class="p-12 bg-white shadow-md rounded-lg max-w-md w-full mx-4 my-10">
		<h2 class="text-2xl font-bold mb-6 text-center">
			{% if form.otp is defined %}
				Verify OTP
			{% elseif form.password is defined %}
				<img src="./themes/custom/engage_theme/images/logo.jpg" alt="New Password" class="mx-auto mb-4">
				<h2 class="text-2xl font-semibold mb-2">New Password</h2>
				<p class="text-sm text-gray-500 mt-1 mb-4">Please enter a new password</p>
			{% else %}
				Register
			{% endif %}
		</h2>

		<div class="space-y-4">
			{% if form.first_name is defined %}
				<div>
					{# {{ form.first_name }} #}
					{{ include('@engage_theme/components/form/field--floating-text.html.twig', {
  						field: form.first_name,
					}) }}
				</div>
			{% endif %}

			{% if form.last_name is defined %}
				<div>
					{# {{ form.last_name }} #}
					{{ include('@engage_theme/components/form/field--floating-text.html.twig', {
  						field: form.last_name,
					}) }}
				</div>
			{% endif %}

			{% if form.mail is defined %}
				<div>
					{# {{ form.mail }} #}
					{{ include('@engage_theme/components/form/field--floating-text.html.twig', {
  						field: form.mail,
					}) }}
				</div>
			{% endif %}

			{% if form.country_code is defined %}
				<div>
					{# {{ form.country_code }} #}
					{{ include('@engage_theme/components/form/field--floating-text.html.twig', {
  						field: form.country_code,
					}) }}
				</div>
			{% endif %}

			{% if form.mobile is defined %}
				<div>
					{# {{ form.mobile }} #}
					{{ include('@engage_theme/components/form/field--floating-text.html.twig', {
  						field: form.mobile,
					}) }}
				</div>
			{% endif %}

			{% if form.otp is defined %}
				<div>
					{# {{ form.otp }} #}
					{{ include('@engage_theme/components/form/field--floating-text.html.twig', {
  						field: form.otp,
					}) }}
				</div>
			{% endif %}

			{% if form.password is defined %}
				<div>
					{# {{ form.password }} #}
					{{ include('@engage_theme/components/form/field--floating-text.html.twig', {
  						field: form.password,
					}) }}
					{# <div id="password-tooltip-new" class="change-password-card__tooltip absolute z-50 mt-2 left-0 invisible opacity-0 transition-opacity duration-300 ease-in-out bg-white border border-gray-200 p-4 rounded-xl shadow-md text-sm w-full max-w-md">
					<p class="font-semibold mb-2 text-sm text-gray-700">{{ 'Password must contain:'|t }}</p>
					<ul class="list-disc ml-5 space-y-1">
						<li id="rule-length-new" class="text-red-600">At least 8 characters</li>
						<li id="rule-uppercase-new" class="text-red-600">At least one uppercase letter</li>
						<li id="rule-lowercase-new" class="text-red-600">At least one lowercase letter</li>
						<li id="rule-number-new" class="text-red-600">At least one number</li>
						<li id="rule-special-new" class="text-red-600">At least one special character (@!$#%^&*)</li>
					</ul>
				</div> #}
				</div>
			{% endif %}

			{% if form.confirm_password is defined %}
				<div>
					{# {{ form.confirm_password }} #}
					{{ include('@engage_theme/components/form/field--floating-text.html.twig', {
  						field: form.confirm_password,
					}) }}
					{# <div id="password-tooltip-confirm" class="change-password-card__tooltip absolute z-50 mt-2 left-0 invisible opacity-0 transition-opacity duration-300 ease-in-out bg-white border border-gray-200 p-4 rounded-xl shadow-md text-sm w-full max-w-md">
					<p class="font-semibold mb-2 text-sm text-gray-700">{{ 'Password must contain:'|t }}</p>
					<ul class="list-disc ml-5 space-y-1">
						<li id="rule-length-confirm" class="text-red-600">At least 8 characters</li>
						<li id="rule-uppercase-confirm" class="text-red-600">At least one uppercase letter</li>
						<li id="rule-lowercase-confirm" class="text-red-600">At least one lowercase letter</li>
						<li id="rule-number-confirm" class="text-red-600">At least one number</li>
						<li id="rule-special-confirm" class="text-red-600">At least one special character (@!$#%^&*)</li>
						<li id="passmatch">Passwords must match</li>
					</ul>
				</div> #}
				</div>
			{% endif %}

			<div>
				{{ form.submit }}
			</div>
		</div>

		{# Hidden form fields and tokens #}
		{{ form|without(
    'first_name', 'last_name', 'mail', 'country_code', 'mobile',
    'otp', 'password', 'confirm_password', 'submit'
  ) }}
		{# </div> #}
	</div>
</div>
