{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{attributes.addClass(classes)}}>
	<div class="faq-page mx-auto max-w-screen-xl bg-white px-4 py-6">
		{{ title_prefix }}
		{{ title }}
		{{ title_suffix }}

			<div class="grid grid-cols-[auto,1fr,auto] items-center pt-6 pb-10">

			<!-- Arrow -->
			<div class="flex justify-start">
				<a href="/" class="text-gray-700 ">
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
					</svg>
				</a>
			</div>

			<!-- Title -->
			<div class="text-center">
				<h1 class="text-3xl sm:text-4xl md:text-5xl font-nevis">FAQ</h1>
			</div>

			<!-- Spacer to balance grid -->
			<div></div>

		</div>
	


		<div class="box-faq-details form-sec border-inherit	border-2 rounded-xl p-4 lg:p-12 bg-white mb-6 text-center lg:text-start s:mb-14 xs:mb-14">

			{% if exposed %}
				{{ exposed }}
			{% endif %}
			{{ attachment_before }}

			<div class="classgrid">
				{% if rows -%}
					<div>
						{% for row in rows %}
							<div class="views-row">
								{{ row }}
							</div>
						{% endfor %}
					</div>
				{% elseif empty -%}
					{{ empty }}
				{% endif %}
			</div>
			{{ pager }}

			{{ attachment_after }}
			{{ more }}

			{% if footer %}
				<footer>
					{{ footer }}
				</footer>
			{% endif %}

			{{ feed_icons }}
		</div>
	</div>
</div>
