{#
  Custom template for ideas view, block_1 display.
#}

<div class="card flex flex-col md:flex-row gap-10 mt-6 card-side relative">
  {% if fields.field_idea_image %}
    <img src="{{ fields.field_idea_image.content|striptags|trim }}" alt="Idea Image" class="w-72 h-48 md:min-w-72 md:max-w-72">
  {% endif %}

  <div class="card-body py-0 xs:pt-2 xs:px-0 s:pt-2 s:px-0 flex flex-col gap-2">
    {% if fields.title %}
      <h2 class="card-title text-xl text-dark font-medium font-['nevis'] minlines s:text-xl xs:text-base">
        {{ fields.title.content }}
      </h2>
    {% endif %}

    {% if fields.field_idea_author %}
      <p class="card-desc text-base text-all_font_color font-normal font-['Open_Sans'] minlines s:text-base xs:text-sm">
        By {{ fields.field_idea_author.content }}
      </p>
    {% endif %}

    {% if fields.field_idea_content %}
      <p class="card-desc text-base text-all_font_color font-normal font-['Open_Sans'] minlines s:text-base xs:text-sm">
        {{ fields.field_idea_content.content }}
      </p>
    {% endif %}

   {% if fields.view_node %}
  {% set node_path = fields.view_node.content|striptags|trim %}
  <div class="card-actions md:mt-4 flex md:block justify-start">
    <a class="btn bg-[#fc0] border border-[#fc0] px-2 md:px-6 text-white text-xl capitalize font-bold font-['Open_Sans'] mt-5 py-2 md:py-[0.7rem] rounded-[10px]"
       href="{{ node_path }}">
      Read More
    </a>
  </div>
{% endif %}


    {% if fields.field_rating %}
      <div class="rating mt-4 absolute bottom-0 right-0">
        {{ fields.field_rating.content }}
      </div>
    {% endif %}
  </div>
</div>
