<div {{ attributes }}>
    <div class="tenders-and-page-exposed flex flex-col sm:flex-row justify-between gap-4 w-full mb-4">
        {{ form.title }}
        {{ form.sort_by }}
        {{ form.sort_order }}
        {# {{ dump(form) }} #}
    </div>
  {{ form.actions }}
</div>
