<div {{ attributes }}>
    <div class="careers-page-exposed flex flex-col sm:flex-row justify-between gap-4 w-full mb-4">
        {{ form.title }}
        {{ form.field_job_category_target_id }}
        {{ form.field_job_role_target_id }}
    </div>
    {{ form.actions }}
</div