<div class="md:flex justify-between">
  <div class="relative">
    {{ form.title|add_class('px-8','py-2.5','border-2','border-[#cecece]','rounded-md','pl-8','w-full') }}

    <div class="absolute top-[15px] left-2 flex items-center pointer-events-none">
      <svg aria-hidden="true" class="w-5 h-5 text-gray-500"
           fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd"></path>
      </svg>
    </div>
  </div>

  {{ form.field_faq_category_target_id }}
</div>

{{ form.actions }}

{# keep hidden elements so AJAX works #}
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
