<div{{attributes.addClass(classes)}}>
	<div class="tenders-page mx-auto max-w-screen-xl bg-white px-4 py-6">
		{{ title_prefix }}
		{{ title }}
		{{ title_suffix }}

		{% if header %}
			<header class="mb-6">{{ header }}</header>
		{% endif %}
		<!-- Header -->
		{# <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-4 py-10">
									<div>
										<a href="/" class="text-gray-700 hover:text-yellow-600">
											<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewbox="0 0 16 16">
												<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
											</svg>
										</a>
									</div>
									<div class="text-center flex-1">
										<h1 class="text-3xl sm:text-4xl md:text-5xl font-nevis">{{ 'Tenders'|t }}</h1>
									</div>
								</div> #}
		<div
			class="grid grid-cols-[auto,1fr,auto] items-center pt-6 pb-10">

			<!-- Arrow -->
			<div class="flex justify-start">
				<a href="/" class="text-gray-700">
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewbox="0 0 16 16">
						<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
					</svg>
				</a>
			</div>

			<!-- Title -->
			<div class="text-center">
				<h1 class="text-3xl sm:text-4xl md:text-5xl font-nevis">{{'Tenders'|t}}</h1>
			</div>

			<!-- Spacer to balance grid -->
			<div></div>

		</div>

		{# <div class="border-t border-[#dedede] border-solid dottedBorder my-6"></div> #}
		<div class="border-2 border-solid rounded-2xl bg-white px-4 py-6 sm:px-6 sm:py-8 md:px-8 md:py-10">
			{{ exposed }}
			{{ attachment_before }}


			{% if rows %}
				{# <div class="grid grid-cols-1 sm:grid-cols-2 gap-6"> #}
				{% for row in rows %}
					{# <div class="views-row grid grid-cols-1 sm:grid-cols-2 gap-6"> #}
					{{ row }}
					{# </div> #}
				{% endfor %}
				{# </div> #}
			{% elseif empty %}
				<div class="text-center text-gray-500 py-8">{{ empty }}</div>
			{% endif %}


			{{ pager }}

			{% if footer %}
				<footer class="mt-8">{{ footer }}</footer>
			{% endif %}

			{{ feed_icons }}

			{# <div class="border-t border-[#dedede] dottedBorder my-10"></div> #}
		</div>
	</div>
</div>
